/* src/index.css */

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #111827;
  background-color: #f3f4f6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
}

/* IMPORTANT: let the app take full width/height */
#root {
  width: 100%;
  min-height: 100vh;
}
  
a {
  font-weight: 500;
  color: #111827;
  text-decoration: none;
}

button {
  font-family: inherit;
}
